#!/bin/sh
export DJANGO_SUPERUSER_PASSWORD={{ DJANGO_SUPERUSER_PASSWORD }}
export DJANGO_SUPERUSER_USERNAME={{ DJANGO_SUPERUSER_USERNAME }}
export DJANGO_SUPERUSER_EMAIL={{ DJANGO_SUPERUSER_EMAIL }}
export POSTGRES_USER='{{ POSTGRES_USER }}'
export POSTGRES_PASSWORD='{{ POSTGRES_PASSWORD }}'
export POSTGRES_HOST='{{ hostvars['localhost'].db_ip }}'