#!/bin/sh
sudo apt install postgresql postgresql-contrib -y
sudo -u postgres psql -c "CREATE USER {{ POSTGRES_USER }} WITH PASSWORD '{{ POSTGRES_PASSWORD }}';"
sudo -u postgres createdb -O {{ POSTGRES_USER }} tasks
sudo sh -c "echo listen_addresses=\'*\' >> /etc/postgresql/10/main/postgresql.conf"
sudo sh -c "echo host all all 0.0.0.0/0 trust >> /etc/postgresql/10/main/pg_hba.conf"
sudo ufw allow 5432/tcp
sudo systemctl restart postgresql